body {
  background-image: url("images/blockchain.jpg");
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center; 
}

h1 {
  font-size: 40px;
  margin-top: 80px;
}

p {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

li {
 background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid black ;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}